* {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    place-items: center;
}

/* RESTART BUTTON */
.restart {
    position: absolute;
    right: 40px;
    bottom: 40px;
    background-color: rgba(255, 255, 255, 0.022);
    color: white;
    border: none;
}

.restart:hover {
    color: red;
}

/* MAIN PARAGRAPH AND QUESTION */
.page-container {
    display: grid;
    place-items: center;

    height: 350px;
    width: 600px;
    padding: 80px;

    color: white;
    background: radial-gradient( closest-side, rgba(255, 224, 187, 0.203),rgba(250, 195, 127, 0.197), rgb(0, 0, 0));
    text-align: center;
    font-size: 30px;
}

.fadeInOne {
    animation: 6s fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 1s;

    visibility: hidden;
}

.question {
    margin-top: 30px;
}

/* START PAGE */
.start-link {
    text-decoration: none;
}

/* NAME INPUT PAGE */
.name-input {
    color: white;
    background-color: rgb(114, 189, 242);
    border: 2px solid white;
    border-radius: 10px;
    height: 30px;
    padding: 5px;
}


/* OPTION BUTTONS */
.options-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-top: 20px;
}

.selections {
    display: grid;
    place-content: center;

    color: white;
    font-weight: bold;
    background-color: rgb(150, 68, 36);
    border: none;
    border-radius: 10px;
    margin: 30px;
    height: 40px;
    padding: 10px;
}

.fadeInTwo {
    animation: 6s fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    visibility: hidden;
}

.selections:hover{
    background-color: rgba(248, 77, 15, 0.571);
    transform: scale(1.1);
}

.selections:active {
    background-color: rgba(0, 208, 255, 0.65);
    transform: scale(1);
}


/* FADE IN */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}