* {
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: black;
    display: grid;
    place-content: center;
}

/* RESTART BUTTON */
.restart {
    position: absolute;
    right: 40px;
    bottom: 40px;
    background-color: rgba(255, 255, 255, 0.022);
    color: white;
    border: none;
}

.restart:hover {
    color: red;
}

/* FIRST AND SECOND PAGE */
.startAndName {
display: grid;
place-items: center;

height: 350px;
width: 600px;
padding: 80px;

color: white;
background: radial-gradient( closest-side, rgba(255, 224, 187, 0.203),rgba(250, 195, 127, 0.197), rgb(0, 0, 0));
text-align: center;
font-size: 30px;

}

/* MAIN PARAGRAPH AND QUESTION */
.page-container {
    width: 600px;
    padding: 80px;

    color: white;
    background: radial-gradient( closest-side, rgba(255, 224, 187, 0.203),rgba(250, 195, 127, 0.197), rgb(0, 0, 0));
    text-align: center;
    font-size: 30px;
}

.fadeInOne {
    animation: 6s fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 1s;

    visibility: hidden;
}

.question {
    margin-top: 30px;
}

/* START PAGE */
.start-link {
    text-decoration: none;
}

/* NAME INPUT PAGE */
.name-input {
    color: white;
    background-color: rgb(114, 189, 242);
    border: 2px solid white;
    border-radius: 10px;
    height: 30px;
    width: 200px;
    padding: 5px;
}


/* OPTION BUTTONS */
.options-container {
    display: grid;
    place-content: center;
    grid-template-columns: repeat(auto-fit, minmax(100px, 300px));
    grid-template-rows: repeat(auto-fit, minmax(50px, 100px));
    margin-top: 20px;
}

.selections {
    display: grid;
    place-content: center;

    color: white;
    font-weight: bold;
    background-color: rgb(150, 68, 36);
    border: none;
    border-radius: 10px;
    margin: 10px;
    height: 40px;
    padding: 10px;
}

.fadeInTwo {
    animation: 6s fadeIn;
    animation-fill-mode: forwards;
    animation-delay: 3s;

    visibility: hidden;
}

.selections:hover{
    background-color: rgba(248, 77, 15, 0.571);
    transform: scale(1.1);
}

.selections:active {
    background-color: rgba(0, 208, 255, 0.65);
    transform: scale(1);
}

/* SELECTIONS PAGE */
.selectionsPage{
    color: white;
    background-color: rgba(128, 128, 128, 0.145);
    padding: 20px;
    border: grey solid 2px;
    border-radius: 25px;
    transition: all 200ms;
}

.selectionItems{
    list-style: none;
    margin-top: 10px;
}

.selectionsPage:hover {
    transform: scale(1.06);
    box-shadow: rgba(246, 182, 62, 0.542) 0px 0px 80px;
}

/* FADE IN */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        visibility: visible;
        opacity: 1;
    }
}